.fullSize{
	height:100vh;
	width:100vw;
}

.txt{
	font-size: 2vh;
}

.max{
	height:100%;
	width:100%;
}

.header{
	overflow:hidden;
	background-color: #ededed;
}

.child{
	width:100%;
	height:100%;
	overflow-y: auto;
}

.parent{
	height:100%;
	width:100%;
	overflow:hidden;
}



.workoutMenu{
	max-height: 100%;
	min-height: 80%;
}

html, body, md-content{
	
}

md-sidenav{
	overflow: hidden;
}

.ysd{
	overflow-y:hidden;
}

md-nav-bar {
	overflow-y:hidden;
	padding-bottom:1px;
}

.tag{
	display:inline-block;
	border-radius: 10px;
	background: #EF5350;
	color: #FFEBEE;
	padding: 5px;
}

.removeBtn{

}

.color{
	color: #EF5350;
}
md-grid-list{
	height:100%;
}

md-card-content{
	width:100%;
}

md-card{
	max-height: 100%;
	max-width: 100%;
	min-width: 50%;
	min-height: 10%;
}

md-list-item{
	outline : none;
	height: 150px;
	width: 280px;
}

md-list{
	height:100%;
}

.displayblock{
	display:inline-block;
}

.image{
	max-height:100%;
}

.image2{
	max-height : 150px;
	max-width : 50%;
}

.image3{
	display : inline-block;
	max-height : 200px;
	max-width :  50%;
}

.image5{
	max-height : 300px;
	max-width : 100%;
}

.image4{
	height : 100%;
	display : inline-block;
}

.checkout{

}

.overflow{
	overflow-y : auto;
}

md-dialog{
	min-width : 50vw;
}

.responsiveIcon{
	height:100%;
	width:100%;
}

.scroll{
	height:95%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
}

@media screen and (min-width: 960px){

	md-toast{
		position:absolute;
		left:40%;
	}
}

@media screen and (max-width: 1280px){
	.scroll{
		height:95%;
		width:100%;
		overflow-y:auto;
		overflow-x:hidden;
	}
}

.flipFront{

}

.flip {
	position:absolute;
	left:0;
    backface-visibility:             hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -o-backface-visibility:      hidden;
        -webkit-backface-visibility: hidden;
    transform-origin:             50% 50% 0px;
        -moz-transform-origin:    50% 50% 0px;
        -ms-transform-origin:     50% 50% 0px;
        -o-transform-origin:      50% 50% 0px;
        -webkit-transform-origin: 50% 50% 0px;
    transition: all 0.5s;
        -moz-transition:    all 0.5s;
        -ms-transition:     all 0.5s;
        -o-transition:      all 0.5s;
        -webkit-transition: all 0.5s;
}

#front{
    transform:             rotateY( 0deg );
        -moz-transform:    rotateY( 0deg );
        -ms-transform:     rotateY( 0deg );
        -o-transform:      rotateY( 0deg );
        -webkit-transform: rotateY( 0deg );
}

#back{
	background-color: #dddddd;
    transform:             rotateY( 180deg );
        -moz-transform:    rotateY( 180deg );
        -ms-transform:     rotateY( 180deg );
        -o-transform:      rotateY( 180deg );
        -webkit-transform: rotateY( 180deg );	
}

.flip-front {    
    transform:             rotateY( 0deg ) !important;
        -moz-transform:    rotateY( 0deg ) !important;
        -ms-transform:     rotateY( 0deg ) !important;
        -o-transform:      rotateY( 0deg ) !important;
        -webkit-transform: rotateY( 0deg ) !important;
}

.flip-back {
    transform:             rotateY( 180deg ) !important;
        -moz-transform:    rotateY( 180deg ) !important;
        -ms-transform:     rotateY( 180deg ) !important;
        -o-transform:      rotateY( 180deg ) !important;
        -webkit-transform: rotateY( 180deg ) !important;
}