<div layout-padding layout layout-align = "center">
	<div style = "min-width:50vw; height:93vh; background:#f9f9f9; overflow-y:auto" md-whiteframe = "5">
		<div class = "md-display-1" style = "text-align:center; padding-bottom: 30px">The authors</div>
		<div layout-gt-md  = "row"  layout = "column" layout-align = "space-between" style = "text-align:center">
			<div flex-gt-md = "45" flex = "100">
				<div class = "md-headline">Måns Åberg</div>
				<br>
				<div style = "text-align:left" class = "md-subhead">What I learnt</div>
				
				<ul style = "text-align: left">
					<li>I could do more than I thought with the very little experience I had beforehand</li>
					<li>Responsive webdesign using CSS and Angular</li>
					<li>Working with a framework (AngularJS)</li>
					<li>How to set up filters in Angular</li>
					<li>Principles of MVC and how Angular handles it</li>
					<li>More and more Javascript as well as some JQuery</li>
					<li>Working with Node/npm using dependencies, bower etc...</li>
					<li>Setting up minimal backend using firebase</li>
					<li>Deploying a webapplication to Heroku with the help of Express</li>
					<li>Patience is key</li>
					<li>I can do this for hours on end</li>
					<li>I would probably like to work with front-end development.</li>
					<li>This is fun!</li>
				</ul>

				<div layout layout-align = "center">
					<md-button aria-label = "linkedinMans" target = "_blank" ng-href = "https://www.linkedin.com/in/måns-åberg-752286114"  class = "md-icon-button">
						<img style = "height:20px; width:20px" src = "../img/icons/linkedin2.ico"/>
					</md-button>
					<md-button aria-label = "facebookMans" target = "_blank" ng-href = "https://www.facebook.com/lmawnz"  class = "md-icon-button">
						<img style = "height:20px; width:20px" src = "../img/icons/facebook.png"/>
					</md-button>
					<md-button aria-label = "facebookMans" target = "_blank" ng-href = "https://github.com/Mawnz"  class = "md-icon-button">
						<img style = "height:23px; width:23px" src = "../img/icons/github.png"/>
					</md-button>
				</div>
			</div>
			<br>
			<div flex-gt-md = "45" flex = "100">
				<div class = "md-headline">Lucas Rudqwist</div>
				<br>
				<div style = "text-align:left" class = "md-subhead">What I learnt</div>
				
				<ul style = "text-align: left">
					<li>To be filled in...</li>
					
				</ul>

				<div layout layout-align = "center">
					<md-button aria-label = "linkedinMans" target = "_blank" ng-href = "https://www.linkedin.com/in/lucas-rudqwist-004510140/"  class = "md-icon-button">
						<img style = "height:20px; width:20px" src = "../img/icons/linkedin2.ico"/>
					</md-button>
					<md-button aria-label = "facebookMans" target = "_blank" ng-href = ""  class = "md-icon-button">
						<img style = "height:20px; width:20px" src = "../img/icons/facebook.png"/>
					</md-button>
					<md-button aria-label = "facebookMans" target = "_blank" ng-href = ""  class = "md-icon-button">
						<img style = "height:23px; width:23px" src = "../img/icons/github.png"/>
					</md-button>
				</div>
			</div>
		</div>
	</div>

</div>
