<div ng-controller="NavbarCtrl" style = "height:100%">
    <section layout="row" layout-fill>

        <md-sidenav
            class="md-sidenav-left sidenav"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

          <md-toolbar ng-controller="LeftCtrl" layout = "row" layout-align = "space-between stretch">
            <!--Header of left navbar-->
            <div>
                <h1 class="md-toolbar-tools">Your workout</h1>

            </div>
            <div layout layout-align = "center center">
                <md-button ng-click="close()"  class="md-icon-button" hide-gt-md>
                    <md-icon style = "color:#9FA8DA" md-font-set="material-icons"> close </md-icon>
                </md-button>
            </div>
          </md-toolbar>
          <md-content layout-padding ng-controller="LeftCtrl">
            <!-- Content of navbar goes here-->
              <!--External file for the individual items-->
              <div ng-include = "'partials/exerciseMenu.html'"></div>

          </md-content>
                <!--Checkout-button that is always at the bottom of the container-->
                <md-button  ng-href = "#!app/checkout" ng-click = "checkout()" class = "checkout md-icon-button">
                  <md-icon md-font-set="material-icons"> print </md-icon>
                </md-button>
        </md-sidenav>

        <md-content flex layout-padding layout-fill style = "overflow-y: hidden">
              <div layout layout-align = "space-between start" flex>
                  <div >
                      <md-button ng-click="toggleLeft()"
                      ng-hide = "isOpenLeft()"
                      class="md-primary" hide-gt-md>
                          <md-icon md-font-set="material-icons"> view_list </md-icon>
                      </md-button>
                  </div>

                  <div>
                      <md-button ng-click="toggleRight()"
                      ng-hide="isOpenRight()"
                      class="md-primary" hide-gt-md>
                          <md-icon md-font-set="material-icons"> filter_list </md-icon>
                      </md-button>
                  </div>
              </div>
              <div style = "overflow-y: auto; padding-bottom:50px; height: 100%" ng-include = "'partials/results.html'">
                <!--The content can be found in the 'results.html file'-->
              </div>
        </md-content>

        <md-sidenav
                    class="md-sidenav-right"
                    md-component-id="right"
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4">

          <md-toolbar ng-controller = "RightClose" class="md-theme-light" layout layout-align = "space-between stretch">
            <div>
              <h1 class="md-toolbar-tools">Search</h1>
            </div>
            <div layout layout-align = "center center">
                <md-button ng-click="close()" class="md-icon-button" hide-gt-md>
                    <md-icon style = "color:#9FA8DA" md-font-set="material-icons"> close </md-icon>
                </md-button>
            </div>
          </md-toolbar>
          <md-content ng-controller="RightCtrl as ctrl" layout-padding>
            <div layout = "column">
              <div>
                <form>
                  <md-input-container layout layout-align = "center center">
                    <div flex = "80">
                      <label for="testInput">Text search</label>
                      <md-chips class = "chips" ng-model="searchQuery" name="query" readonly="readonly"
                                md-removable="removable" md-max-chips="5" placeholder="Enter text...">
                    </div>
                    <div flex = "20" layout layout-align = "center center">
                      <md-button ng-click="search(category,equipment)" ng-href = "#!/app/" class="md-icon-button md-primary">
                        <md-icon md-font-set="material-icons"> search </md-icon>
                      </md-button>
                    </div>
                  </md-input-container>
                </form>
              </div>
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Search Filters</span>
                  </md-card-title-text>
                </md-card-title>

                <md-switch ng-model="data.cb6" aria-label="Switch 6" ng-change="onChange(data.cb6)">
                  Switch 6 message: {{ message }}
                </md-switch>

                <md-card-content>
                  <div layout="row" layout-align="space-between center">
                    <span>Muscle group</span>
                    <md-select ng-model="category" placeholder="Group" class="md-no-underline">
                      <md-option value="0">None</md-option>
                      <md-option value="10">Abs</md-option>
                      <md-option value="8">Arms</md-option>
                      <md-option value="12">Back</md-option>
                      <md-option value="14">Calves</md-option>
                      <md-option value="11">Chest</md-option>
                      <md-option value="9">Legs</md-option>
                      <md-option value="13">Shoulders</md-option>
                    </md-select>
                  </div>
                </md-card-content>

                <md-card-content>
                  <div layout="row" layout-align="space-between center">
                    <span>Equipment</span>
                    <md-select ng-model="equipment" placeholder="Tool" class="md-no-underline">
                      <md-option value="0">None</md-option>
                      <md-option value="1">Barbell</md-option>
                      <md-option value="8">Bench</md-option>
                      <md-option value="3">Dumbbell</md-option>
                      <md-option value="4">Gym mat</md-option>
                      <md-option value="9">Incline bench</md-option>
                      <md-option value="10">Kettlebell</md-option>
                      <md-option value="7">Body weight</md-option>
                      <md-option value="6">Pull-up bar</md-option>
                      <md-option value="5">Swiss ball</md-option>
                      <md-option value="2">SZ-Bar</md-option>
                    </md-select>
                  </div>
                </md-card-content>

              </md-card>
            </div>
          </md-content>

        </md-sidenav>
  </section>
</div>
