	<md-list id = "menuList">
		<div flex ng-repeat = "myExercise in myExercises">
			<md-list-item id = "papa">
				<!--Front side-->
				<form isUp = "true" id = "front" class = "flip flipFront" flex >
					<md-list-item  flex ng-click = "null">
						<div flex layout layout-align = "space-between space-between">
							<div layout = "column" layout-align = "start start">
								<div class = "txtmenu">
									{{myExercise.name}}
								</div>
								<div class = "txtmenu color">
									{{myExercise.category}}
								</div>
							</div>
							<div layout layout-align = "end center">
								<img ng-src = "{{myExercise.image[0]}}"  class = "md-avatar displayblock"/>
							</div>
						</div>
						<md-button style = "position:absolute; right:0; bottom:0;" ng-click = "removeExercise(myExercise.id)"  class="md-icon-button" aria-label="removeExercise">
							<md-icon class = "md-primary" md-font-set="material-icons"> delete </md-icon>
						</md-button>
						<md-button style = "position:absolute; right:0; top:0" ng-click = "openInfo($event, myExercise.id)" class="md-icon-button" aria-label="openInfo">
							<md-icon class = "color" md-font-set="material-icons"> info_outline </md-icon>
						</md-button>
						<md-button style = "position:absolute; left:0; bottom:0;" ng-click = "flip($event)"  class="md-icon-button" aria-label="flipCard">
							<md-icon class = "md-primary" md-font-set="material-icons"> undo </md-icon>
						</md-button>						
					</md-list-item>
				</form>
				<!--Back side -->
				<form  flex isUp = "false" id = "back" class = "flip" layout layout-align = "end center">
					<md-list-item flex ng-click = "null">
						<div flex layout layout-align = "space-around" class = "md-primary">
							<md-input-container>
								Reps
								<md-icon class = "color" md-font-set = "material-icons"> swap_vert </md-icon>
								<input ng-model = "r" ng-change = "reps(myExercise, r)" aria-label = "reps" type = "number" step = "1" min = "1">
							</md-input-container>
							<md-input-container>
								Set
								<md-icon class = "color" md-font-set = "material-icons"> swap_vert </md-icon>
								<input ng-model = "s" ng-change = "set(myExercise, s)" aria-label = "sets" type = "number" step = "1" min = "1">
							</md-input-container>
						</div>
						<md-button style = "position:absolute; right:0; bottom:0;" ng-click = "removeExercise(myExercise.id)"  class="md-icon-button" aria-label="removeExercise">
							<md-icon class = "md-primary" md-font-set="material-icons"> delete </md-icon>
						</md-button>
						<md-button style = "position:absolute; left:0; bottom:0;" ng-click = "flip($event, 'back')"  class="md-icon-button" aria-label="flipCard">
							<md-icon class = "md-primary" md-font-set="material-icons"> undo </md-icon>
						</md-button>
					</md-list-item>
				</form>
			</md-list-item>
			<md-divider><br></md-divider>
		</div>
	</md-list>