<div style = "overflow-x: hidden; height:100%" ng-controller = "ExerciseMenuCtrl">
	<md-content>
		<md-list flex>
			<md-subheader class = "md-no-sticky">Your workout</md-subheader>

			<!--List items go here with ng-repeat, need to assign controller?-->

			<md-list-item flex md-whiteframe = "6"  ng-click = "null" ng-repeat = "myExercise in myExercises">
				<div class = "md-list-item-text" layout = "column">
					<div>
						<h3>{{myExercise.name}}</h3>
					</div>
					<div>
					<h4>
						Abs, Ass
					</h4>
					</div>
					<md-card-actions>
						<md-card-icon-actions>
							<md-button ng-click = "removeExercise(myExercise.id)"  class="md-icon-button" aria-label="removeExercise">
								<md-icon md-font-set="material-icons"> clear </md-icon>
							</md-button>
						</md-card-icon-actions>
					</md-card-actions>
				</div>
				<div flex = "50">
					<img ng-src = "{{myExercise.image[0]}}"  class = "image2"/>
				</div>
			</md-list-item>
		</md-list>
			<md-divider></md-divider>
		</md-list>
	</md-content>
</div>
