<div class = "col-lg-6 col-md-8 col-sm-10 col-xs-12 bg-success homediv">
	<div class = "row">
		<div class = "col-xs-12 bottomBorder">
			<h2>Gymma Gymma</h2>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dolor
			eisumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat.</h5>
			<br>
			<br>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h5>start quickly</h5>
			<a href = "#!/search" class = "btn btn-primary">
				Skaru träna lr?
			</a>
		</div>
	</div>
</div>
