<div layout-padding  layout layout-align = "center">
	<div style = "min-width:50vw; height:93vh; background:#f9f9f9" md-whiteframe = "5">
	<h3>Hi and welcome to the <b>Workout Planner!</b><br><br></h3>
	<div class = "txt" >
	This is an application where you can build your workout by picking from many many exercises!<br><br>
	Before working out you can also set the number of repetitions as well as <br> set of each individual exercise on the back of the cards that you find in your menu. <br><br>
	When you're satisfied with you workout you can start working out with the help of our<br> "Workout-Player" that gives you an easily accessible overview of your exercises!
	</div><br>
	<md-button ng-href = "#!/app" class = "md-raised md-primary">
		Click here to get started!
	</md-button>

</div>
	<!--
	<br>
	<div ng-repeat = "(key, value) in data">

	</div>
	-->
</div>
