<md-dialog aria-label = "Workouts" style = "max-height:80vh">
	<md-toolbar>
		<div class = "md-warn md-toolbar-tools" layout-align = "start center">
			Workouts in the database
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<md-list>
			<md-list-item style = "width:100%" ng-repeat = "(key, value) in dbWorkouts" ng-click  = "cancel({'name':key, 'value':value})">
				<div layout layout-align = "space-between" flex>
					<span class = "txtBig"> {{key}} </span>
					<md-button ng-click = "deleteFromDatabase(key, value)"  class="md-icon-button" aria-label="removeExercise">
						<md-icon class = "md-primary" md-font-set="material-icons"> delete </md-icon>
					</md-button>
				</div>
				<md-divider> </md-divider>
			</md-list-item>
			
		</md-list>
	</md-content>
</md-dialog>