<md-dialog aria-label = "information">
		<div layout-gt-md = "row" layout = "column"  layout-padding layout-align = "start">
			<div  layout = "column" layout-align = "center">
				<div>	       	
			        <span class="md-headline">{{e.name}}</span>
			    </div>
		   		 <div>
					<p class = "md-body-1" ng-bind-html = "description"></p>
				</div>
	        </div>
	        <div layout = "column" layout-gt-md = "row" layout-align = "center center">
	        <!-- TODO make images look gud bro-->
	        	<img  ng-repeat = "image in e.image" ng-src= "{{image}}" class="md-card-image image3" alt="Washed Out" layout-padding>
	        </div>
	    </div>
</md-dialog>