<md-dialog aria-label = "information" >
	<div style = "position:absolute; right:0; top:0">
		<md-button ng-click = "cancel()"  class="md-icon-button" aria-label="closeDialog">
			<md-icon class = "color" md-font-set="material-icons"> close </md-icon>
		</md-button>		
	</div>
		<div class = "dialogDiv" layout = "column"  layout-padding layout-align = "center space-between">
			<div layout = "column" layout-align = "center">
				<div>	       	
			        <span class="md-headline">{{e.name}}</span>
			    </div>
			    <div style = "padding-bottom:5px" class = "md-subhead">
			    	Equipment: <span><b>{{e.equipment}}</b></span>
			    </div>
		   		 <div>
					<p class = "txt" ng-bind-html = "e.description | trusted"></p>
				</div>
	        </div>
	        <div flex>
	        <!-- images r gud now?-->
	        	<md-grid-list md-cols = "2" md-row-height = "300px" md-gutter = "5px">
	        		<md-grid-tile md-colspan ="1" ng-repeat = "image in e.image">
	        			<img ng-src= "{{image}}" class="md-card-image image5" alt="Washed Out" layout-padding>
	        		</md-grid-tile>
	        	</md-grid-list>
	        </div>
	    </div>
</md-dialog>