<!--
<div class = "workoutWindow">
	<div  class = "workoutFrame" ng-repeat = "exercise in myWorkout">

		<img ng-src = "{{exercise.image[0]}}" class = "image2"/>
	</div>
</div>
-->
<!--TODO MAKE THIS SHIT WORK-->
<md-content style = "height:100%;width:100vw">	

	<md-tabs layout-fill class = "md-warn" md-swipe-content = "true">
		<!--We create tabs for each exercise so it's easy to navigate through-->

		<md-tab flex ng-repeat = "exercise in myWorkout" label = "{{exercise.name}}">
			<md-tab-content class = "md-padding" layout-fill layout-align = "center">
				<div layout = "column" layout-align = "start center" style = "max-width:75vw;">
					<p class = "md-display-1">{{exercise.name}}</P>
					<div name = "description">
						<p class = "md-body-1" ng-bind-html = "exercise.description | trusted"></p>
					</div>
					<img ng-src = "{{exercise.image[0]}}" class = "image2"/>
				</div>
			</md-tab-content>	
		</md-tab>
</md-content>